@import './color.scss';
@import './size.scss';
@import './resetEl.scss';
@import './mixin.scss';

html,body{
  position: relative;
  height: 100%;
  width: 100%;
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif !important;
}
